:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
}

.creativedesign_textwrap2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.creativedesign_title2{
    width: 60%;
    font-family: var(--roboto);
    font-size: var(--desk_title);
    font-weight: 600;
    line-height: var(--desk_title_lineheight);
    letter-spacing: 3%;
}

.creativedesign_desc2{
    margin: 1rem 0;
    width: 73%;
    font-family: var(--lora);
    font-size: var(--desk_desc);
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 3%;
}

.creativedesign_btnswrapper2{
    margin: 1.5rem auto;
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.creativedesign_catbtn2{
    font-family: var(--lora);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 195px;
    background-color: white;
    border: 2px solid #8d9b6a;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
}

.creativedesign_grid2{
    text-align: center;
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.creativedesign_card2{
    margin: auto;
    height: 253px;
    width: 100%;
    max-width: 305px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.creativedesign_img2{
    height: 100%;
    width: 100%;
}

.creativedesign_cardtitle2{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
    font-family: var(--lora);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3%;   
}

.category_button2.active{
    cursor: pointer;
    font-family: var(--lora);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 195px;
    border: 2px solid #8d9b6a;
    border-radius: 5px;
    padding: 5px 2px;
    color: white;
    background-color: #8D9B6A;
}

.creativedesign_btnwrap2{
    margin: auto;
    width: 100%;
    text-align: center;
}

.creativedesign_morebtn2{
    margin: 1rem 0;
    color: white;
    background-color: #3A2E27;
    width: 296px;
    height: 40px;
    border-radius: 8px;
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3%;
    border: none;
}

@media(min-width: 1200px){
    
    .creativedesign_card2{
        margin: auto;
        height: 253px;
    }

    .creativedesign_img2{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .creativedesign_grid2{
        width: 90%;
        grid-template-columns: repeat(4,1fr);
        margin: 2rem 3rem;
        gap: 10px;
    }
    
    .creativedesign_card2{
        height: 200px;
    }

    .creativedesign_img2{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .creativedesign_title2{
        width: 80%;
        font-size: var(--tablet_title);
        line-height: 48px;
    }

    .creativedesign_desc2{
        width: 80%;
        font-size: var(--tablet_desc);
        line-height: 40px;
    }

    .creativedesign_btnswrapper2{
        width: 90%;
        overflow-x: auto;
        flex-wrap: nowrap;

        /* for hide scrollbar */
        &::-webkit-scrollbar {
            display: none; 
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .creativedesign_catbtn2{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .category_button2.active{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .creativedesign_grid2{
        margin: 2rem 1rem ;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .creativedesign_card2{
        height: 200px;
        width: 30%;
    }

    .creativedesign_img2{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .creativedesign_title2{
        width: 85%;
        font-size: var(--tablet_title);
        line-height: 48px;
    }

    .creativedesign_desc2{
        width: 80%;
        font-size: var(--tablet_desc);
        line-height: 40px;
    }

    .creativedesign_btnswrapper2{
        width: 90%;
        margin: auto;
        overflow-x: auto;
        flex-wrap: nowrap;

        /* for hide scrollbar */
        &::-webkit-scrollbar {
            display: none; 
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .creativedesign_catbtn2{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .category_button2.active{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .creativedesign_grid2{
        margin: 2rem ;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    .creativedesign_card2{
        height: 200px;
        width: 45%;
    }

    .creativedesign_img2{
        height: 100%;
        width: 100%;
    }
}

 @media (max-width: 575px) {
    .creativedesign_title2{
        width: 80%;
        font-size: 20px;
        line-height: 28px;
    }

    .creativedesign_desc2{
        width: 70%;
        font-size: 16px;
        line-height: 24px;
    }

    .creativedesign_btnswrapper2{
        width: 90%;
        margin: auto;
        overflow-x: auto;
        flex-wrap: nowrap;

        /* for hide scrollbar */
        &::-webkit-scrollbar {
            display: none; 
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .creativedesign_catbtn2{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .category_button2.active{
        font-size: 14px;
        height: 45px;
        flex-shrink: 0;
    }

    .creativedesign_grid2{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    .creativedesign_card2{
        height: 251px;
        width: 80%;
    }

    .creativedesign_img2{
        height: 100%;
        width: 100%;
    }

 }

 @media (max-width: 375px){
    .creativedesign_title2{
        width: 90%;
    }

    .creativedesign_desc2{
        width: 80%;
    }

    .creativedesign_card2{
        height: 251px;
        width: 80%;
    }
 }