@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
}

.creativedesign_textwrap2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.creativedesign_title2{
    width: 60%;
    font-family: var(--roboto);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 3%;
}

.creativedesign_desc2{
    margin: 1rem 0;
    width: 73%;
    font-family: var(--lora);
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 3%;
}

.creativedesign_btnswrapper2{
    margin: 1.5rem 0;
    width: 75%;
    display: flex;
    gap: 1rem;
}

.creativedesign_catbtn{
    font-family: var(--lora);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 195px;
    background-color: white;
    border: 2px solid #8d9b6a;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
}

.creativedesign_grid2{
    text-align: center;
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.creativedesign_card2{
    height: 253px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.creativedesign_cardtitle{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
    font-family: var(--lora);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3%;   
}

.category-button.active{
    cursor: pointer;
    font-family: var(--lora);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 195px;
    border: 2px solid #8d9b6a;
    border-radius: 5px;
    padding: 5px 2px;
    color: white;
    background-color: #8D9B6A;
}

.creativedesign_btnwrap2{
    width: 100%;
    text-align: center;
}

.creativedesign_morebtn2{
    margin: 1rem 0;
    color: white;
    background-color: #3A2E27;
    width: 296px;
    height: 40px;
    border-radius: 8px;
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3%;
    border: none;
}