
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --color-background-color:#EEE4D3;

    --button-background-color:#8D9B6A;
}

/* main container */

.hero_inner3{
    margin-top:10%;
    height: 719.7px;
    width:100%;
    background-color:var(--color-background-color);
    display: grid;
    grid-template-columns: 1fr 1.10fr;
    /* overflow-x: hidden; */
}

/* hero content sec  */

.hero_content3{
    /* flex: 1; */
    /* height:fit-content; */
    width: 100%;
    padding: 0rem 1rem 0rem 3.3rem;
    overflow-x: hidden;
}

/* hero content title */

.hero_content3 h1{
    font-family:var(--robotofont-font-family);
    line-height: 60px;
    font-weight: 600;
    font-size:2.5rem;
    padding-top: 21.5%;
    color: #3A2E27;
}

/* hero content descrption */

.hero_content3 p{
    font-family: var(--lorafont-font-family);
    font-weight: 500;
    line-height: 35px;
    margin-top: 29px;
    font-size: 1.41rem;
    font-style: medium;
}
.hero_content3 button{
    width:73% ;
    height:7%;
    border: none;
    font-size: 1.45rem;
    padding: 0.5rem 2rem;
    margin-top: 43px;
    margin-bottom: 7%;
    font-weight:600 ;
    font-family:var(--lorafont-font-family) ;
    border-radius: 9px;
    color: #ffffff;
    background-color: var(--button-background-color);

}

/*hero  image sec */
.hero_img3{
    height:720px;
    width: 100%;
    overflow: hidden;
}

.hero_img3 img{
    height: 100%;
    width: 100%;
}



/* laptop view media */

@media(min-width:992px) and (max-width:1199.98px) {
    .hero_content3 h1{
        font-size: 2rem;
    }   
}

/* tablet view media */

@media (min-width:768px) and (max-width:991.9px) {
    .hero_inner3{
    margin-top: 15%;
    height: 450.7px;} 
    .hero_content3{
    width: 100%;
    padding: 0rem 1rem 0rem 3rem;
    overflow-x: hidden;
}
    .hero_content3 h1{
        font-size: 1.5rem;
        line-height: 40px;
    }     

    .hero_content3 p{
        font-size: 0.8rem;
         line-height: 24px;
         margin-top:5px ;
    }
    .hero_content3 button{
        font-size: 1rem;
        padding: 0.2rem 1.5rem;
        border-radius: 7px;
        margin: 10%;
    }

    .hero_img3{
        height: 448px;
    }
}

/* small tablet view media  */
@media (min-width:576px) and (max-width:767.9px) {
    .hero_inner3{
    margin-top: 14%;
    height: 470px;
} 
    .hero_content3{
    width: 100%;
    height: 100%;
    padding: 0rem 1rem 0rem 3rem;
    overflow-x: hidden;
}
    .hero_content3 h1{
        font-size: 1.5rem;
        line-height: 40px;
    }     

    .hero_content3 p{
        font-size: 0.8rem;
         line-height: 24px;
         margin-top:5px ;
    }
    .hero_content3 button{
        width: 80%;
        font-size: 0.8rem;
        padding: 0.2rem 1rem;
        border-radius: 7px;
        margin: 10%;
    }

    .hero_img3{
        height:100%;
    }
}

/* mobile view media */

@media (max-width:575px) {
    .hero_inner3{
        grid-template-columns: 1fr;
        height: 100%;
    }   

    
    .hero_content3{
    width: 100%;
    height: 450px;
    padding: 0.5rem;
    text-align: center;
    overflow-x: hidden;
}
    .hero_content3 h1{
        font-size: 1.5rem;
        line-height: 40px;
    }     

    .hero_content3 p{
        font-size: 0.8rem;
         line-height: 24px;
         margin-top:5px ;
         padding: 0rem 1rem;
    }
    .hero_content3 button{
        font-size: 0.8rem;
        padding: 0.2rem 2.5rem;
        border-radius: 7px;
        margin: 5%;
        margin-bottom: 15%;
    }

    .hero_img3{
        height:375px;
    }
}