
:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
    --dm:"DM Serif Display", serif;
}

.workflow_container2{
    background-color: #D4BC91;
    height: 700px;
    width: 100%;
}

.workflow_innerwrapper2{
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.workflow_title2{
    margin-top: 3rem;
    width: 60%;
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: 3%;
}

.workflow_steps_list2{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.step_item2{
    padding: 0 2rem;
    position: relative;
    overflow: visible;
}

.step_circle2{
    height: 151px;
    width: 151px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.step_circle2.active{
    background-color: #3A2E27;
}

.step_number_overlay2{
    font-family: var(--dm);
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2%;
    position: absolute;
    top: -80px;
    left: 10px;
}

.step_circle_img2{
    height: auto;
    width: 92px;
}

.step_title2{
    margin: 2rem 0;
    font-family: var(--roboto);
    font-size: 23.15px;
    font-weight: 400;
    letter-spacing: 2%;
}

.progress_line_wrapper2{
    margin-top: 1rem;
    width: 100%;
}

.progress_base2{
    border-radius: 10px;
    height: 10px;
    width: 100%;
    background-color: white;
    position: relative;
}

.progress_filled2{
    background-color:#3A2E27;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.content_section2{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade_animation 1.5s ease-in-out;
}

.content_heading2{
    font-family: var(--roboto);
    font-size: 29.75px;
    font-weight: 600;
    letter-spacing: 2%;
    transition: all 1.5s ease-in-out;
}

.content_body2{
    margin-top: 1rem;
    width: 80%;
    font-family: var(--roboto);
    font-size: 19.8px;
    font-weight: 400;
    line-height: 39.6px;
    letter-spacing: 2%;
    transition: all 1.5s ease-in-out;
}

@keyframes fade_animation {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .workflow_container2{
        height: 579px;
    }
    
    .workflow_title2{
        width: 70%;
        font-size: 32px;
        line-height: 48px;
    }

    .workflow_steps_list2{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .step_item2{
        padding: 0 1rem;
    }

    .step_circle2{
        height: 119px;
        width: 119px;
    }

    .step_number_overlay2{
        font-size: 78.2px;
        top: -65px;
        left: -7px;
    }

    .step_title2{
        font-size: 18px;
        margin: 0.5rem auto;
    }

    .progress_base2{
        height: 7.8px;
    }

    .content_heading2{
        font-size: 24px;
        line-height: 31.2px;
    }

    .content_body2{
        font-size: 16px;
        line-height: 31.2px;
    }

    .progress_base2{
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .workflow_container2{
        height: 579px;
    }
    
    .workflow_title2{
        width: 70%;
        font-size: 32px;
        line-height: 48px;
    }

    .workflow_steps_list2{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .step_item2{
        padding: 0 1rem;
    }

    .step_circle2{
        height: 119px;
        width: 119px;
    }

    .step_number_overlay2{
        font-size: 78.2px;
        top: -65px;
        left: -7px;
    }

    .step_title2{
        font-size: 18px;
        margin: 0.5rem auto;
    }

    .progress_base2{
        height: 7.8px;
    }

    .content_heading2{
        font-size: 24px;
        line-height: 31.2px;
    }

    .content_body2{
        font-size: 16px;
        line-height: 31.2px;
    }

    .progress_base2{
        margin-top: 1rem;
    }   
}

@media (min-width: 576px) and (max-width: 767px){
    .workflow_container2{
        height: 579px;
    }
    
    .workflow_title2{
        width: 100%;
        font-size: 32px;
        line-height: 48px;
    }

    .workflow_steps_list2{
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .step_item2{
        padding: 0 0rem;
    }

    .step_circle2{
        height: 90px;
        width: 90px;
    }

    .step_circle_img2{
        height: auto;
        width: 60px;
    }

    .step_number_overlay2{
        font-size: 58.2px;
        top: -50px;
        left: -13px;
    }

    .step_title2{
        font-size: 12px;
        margin: 0.5rem auto;
    }

    .progress_base2{
        height: 7.8px;
    }

    .content_heading2{
        font-size: 24px;
        line-height: 31.2px;
    }

    .content_body2{
        width: 100%;
        font-size: 16px;
        line-height: 31.2px;
    }

    .progress_base2{
        margin-top: 1rem;
    }    
}

 @media (max-width: 575px) {
    .workflow_container2{
        height: auto; 
        padding-bottom: 50px;
    }

    .workflow_innerwrapper2{
        width: 90%; 
        position:relative ;
    }

    .workflow_title2{
        width: 80%;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        margin-top: 2rem;
    }

    .workflow_steps_list2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
        padding-top: 0;
        padding-left: 0; 
        padding-right: 0;
        position: relative;
    }

    .step_item2{
        width: 100%;
        padding-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .step_circle2{
        margin-top: 1rem;
        height: 151px;
        width: 151px;
        flex-shrink: 0;
        z-index: 3;
    }
    
    .step_circle_img2{
        width: 93px;
    }

    .step_number_overlay2{
        font-size: 99px;
        top: -35px; 
        left: 160px;
        -webkit-text-stroke: 1px black;
        z-index: 10;
    }

    .step_title2{
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }
    

    .progress_base2{
        position: absolute;
        top: 13%;
        left: 59px;
        width: 8px;
        height: 80%;
        background-color: white;
        border-radius: 10px;
        margin-top: 1rem;
        z-index: 1;
    }

    .progress_filled2{
        width: 100%;
        height: 2%;
        transition-duration: 0s;
        transform-origin: top; 
        transition: height 1.5s ease-in-out;
    }

    .content_section2{
        width: 100%;
        margin-top: 0;
        align-items: flex-start;
        text-align: center;
    }
    
    .content_body2{
        margin: auto;
        width: 60%;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
 }

@media (max-width:450px){
    .step_number_overlay2{
        font-size: 99px;
        top: -35px; 
        left: 100px;
        -webkit-text-stroke: 1px black;
        z-index: 10;
    }    
}

 @media (max-width: 375px){
    .step_item2{
        margin-left: 3rem;
    }

    .step_number_overlay2{
        font-size: 99px;
        top: -35px; 
        left: 70px;
        -webkit-text-stroke: 1px black;
        z-index: 10;
    }
 }