@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
::-webkit-scrollbar{
  display: none;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}




.Price-today-img img{
  
}
/* faq */
.price-faq>div {
  text-align: center;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-faq div p{
    background-color: #8D9B6A;
    text-align: center;
    border-radius: 50px;
    width: 145px;
    font-size: 21px;
    color: #FFFFFF;
    font-family: Lora;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    margin: auto;

}
.price-faq div h2{
    font-size: 44px;
    font-weight: 500;
    font-family: Roboto Serif;
    margin: 30px;
    width: 40%;
}
/* ------ */
.price-faq-cateogries{
    text-align: center;    
}
.Price-faq_active{

    border: 2px solid rgba(141, 155, 106, 1);
    border-radius: 7.24px;
    padding: 13px 18px;
    font-family: Roboto Serif;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 22px;
    font-weight: 600;
    margin: 0px 10px 30px 10px;  
    align-items: center;
}
.price-faq_list{
width: 80%;
margin: auto;
   
}
.price-faq-box{
    background-color: rgba(234, 241, 218, 1); 
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 7.24px;
}
.price-faq-ques{
    color: rgba(0, 0, 0, 1);
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 3%;
     display: flex;
    justify-content: space-between;
}
.price-faq-ans{
    background-color: rgba(234, 241, 218, 1);
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 3%;
}
.price-faq_icon{
    text-align: right;
    width: 20px;
    height: 40px;

}
.price-faq-ques, .price-faq-ans{
  cursor: pointer;
}
/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 575.98px) {

}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors */
@media (min-width: 1400px) {
  
}