/* Roboto Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* .about-hero_viedo{
    background-image: url(../../assets/../assets/about/hero-viedo.png);
    height: 815px;
    width: 100%;
}
.about-hero_viedo div{
    text-align: center;
    transform: translate(0%,680%);
}
.about-hero_viedo div h2{
    font-family: Roboto Serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: white;
} */
/* ---------about-experts----------- */
.about-experts{
    display: flex;
    align-items: end;
    padding: 50px;
}

.about-experts-left img{
    height: 605px;
    width: 535.9149780273438px;
}
.about-experts-left{
    width: 50%;
    padding-right: 20px;
}
.about-experts-right{
    /* width: 50%; */
}
.about-experts-right div h3{
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 58px;
    margin-bottom: 30px;
}
.about-experts-right div p{
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    padding: 10px;
}
/* count down box */
.about-experts-right_num{
    display: flex;
     gap: 50px;
     margin: 10px;

}
.about-experts-right_num div{
    display: flex;
    flex-direction: column;
   
    color: rgba(141, 155, 106, 1);
}
.about-experts-right_num div h4{
    margin: 0px;
    font-family: Roboto Serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 45px;
    text-align: center;
}
.about-experts-right_num div p{
    margin: 0px;
    padding: 0px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}



/* ----------------about-happyclient-------------------- */
.about-happyclient{
    display: flex;
    width: 100%;
}
.about-client-left{
    height: 740px;
    width: 740px;
}
.about-client-rigth{
    background-color: rgba(58, 46, 39, 1);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.about-client-rigth img{
    margin: auto;
    height: 133px;
    width: 133px;

}
.about-client-rigth h2{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    

}
.about-client-rigth h2>span{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 69px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;

}
.about-client-rigth p{
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
.about-client-rigth{
    align-items: center;
}
.about-client-rigth button{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
    /* text-align: center; */
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    background: rgba(141, 155, 106, 1);
    border: none;
    /* width: 70%; */
    height: 50px;
    align-items: center;
    gap: 10px;
    opacity: 1;
    border-radius: 8px;
    padding-top: 14px;
    padding-right: 68px;
    padding-bottom: 14px;
    padding-left: 68px;
    margin: 10px;

}
/* --------FAQ--------- */
/* faq */
.about-faq > div {
    text-align: center;
    margin-top: 130px;
}

.about-faq div p {
    background-color: #8D9B6A;
    text-align: center;
    border-radius: 50px;
    width: 145px;
    font-size: 21px;
    color: #FFFFFF;
    font-family: Lora;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    margin: auto;
}

.about-faq h2 {
    font-family: Roboto Serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 44px;
    /* width: 40%; */
    margin: auto;
    line-height: 56px;
    letter-spacing: 3%;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

/* ------ */
.about-faq-categories {
    text-align: center;
}

.about-faq_active {
    border: 2px solid rgba(141, 155, 106, 1);
    border-radius: 7.24px;
    padding: 13px 18px;
    font-family: Roboto Serif;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 22px;
    font-weight: 600;
    margin: 0px 10px 30px 10px;
    align-items: center;
}

.about-faq_list {
    width: 80%;
    margin: auto;
}

.about-faq-box {
    background-color: rgba(234, 241, 218, 1);
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 7.24px;
}

.about-faq-ques {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 3%;
    display: flex;
    justify-content: space-between;
}

.about-faq-ans {
    background-color: rgba(234, 241, 218, 1);
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 3%;
}

.about-faq_icon {
    text-align: right;
    height: 41px;
    width: 41px;
}

.about-faq-ques,
.about-faq-ans {
    cursor: pointer;
}
/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 575.98px) {
}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .about-experts {
        padding: 10px 20px;
    }
    .about-experts-right_num {
        display: flex;
        gap: 0px;
    }
    .about-experts-right_num div h4 {
        height: 33.07px;
    }
    .about-experts-left img {
    height: 363.8169250488281px;
    width: 322.2728576660156px;
}
.about-experts-right div p {
    font-family: Lora;
    font-size: 16.84px;
    font-weight: 400;
    line-height: 26.46px;
    padding: 10px;
}
}

/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .about-experts-right div p {
        font-size: 21.84px;
    }
    .about-experts-left img {
        height: 605px;
        width: 367.272858px;
    }
}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about-experts-left img {
        /* height: 525.4556579589844px; */
        width: 425.4556579589844px;
    }
    .about-trust_support {
        height: 200px;
        width: 360px;
    }
    .about-trust_support-img img {
        transform: translate(376%, 100%);
    }
}

/* Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors */
@media (min-width: 1400px) {
}