/* Roboto Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.about-hero_viedo{
    background-image: url(../../assets/../assets/about/hero-viedo.png);
    height: 815px;

}
.about-hero_viedo div{
    text-align: center;
    transform: translate(0%,680%);
}
.about-hero_viedo div h2{
    font-family: Roboto Serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: white;
}
/* ---------about-experts----------- */
.about-experts{
    display: flex;
    align-items: end;
    padding: 50px;
}

.about-experts-left img{
    height: 605px;
    width: 535.9149780273438px;
}
.about-experts-left{
    width: 50%;
    padding-right: 20px;
}
.about-experts-right{
    /* width: 50%; */
}
.about-experts-right div h3{
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 58px;
    margin-bottom: 30px;
}
.about-experts-right div p{
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    padding: 10px;
}
/* count down box */
.about-experts-right_num{
    display: flex;
     gap: 50px;
     margin: 10px;

}
.about-experts-right_num div{
    display: flex;
    flex-direction: column;
   
    color: rgba(141, 155, 106, 1);
}
.about-experts-right_num div h4{
    margin: 0px;
    font-family: Roboto Serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 45px;
    text-align: center;
}
.about-experts-right_num div p{
    margin: 0px;
    padding: 0px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

/* --------------Trusted Interior------------ */
.about-trust {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
align-items: center;
text-align: center;
margin-top: 50px;


}
.about-trust h2{
    font-size: 44px;
    font-weight: 600;
    font-family: Roboto Serif;
    line-height: 56px;
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
    
}
.about-trust p{
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: auto;
    width: 70%;
    text-align: center;
    letter-spacing: 3%;
    padding-bottom: 80px;
}
.about-trust-box{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.about-trust-box_row-1{
    display: flex;
    gap: 20px;
    padding: 10px 50px;
}
.about-trust-box_row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 50px;
}
.about-trust-box_row-3{
    display: flex;
    gap: 20px;
    padding: 10px 50px;
}
.about-trust_support{
    padding: 20px 20px ;
    background-color: rgba(209, 215, 195, 1);
    border-radius: 25px;
    width: 410px;
    height: 186px;
    text-align: right; 
    display: flex;
    flex-direction: column;
    font-family: 'Lora';

}
.about-trust_support h3{
    font-size: 24px;
    /* padding-top: 10px; */
    margin: 5px;
    font-family: Inter;
    font-weight: 600;
    /* line-height: 100%; */
    font-style: Bold;
    /* margin: 0px; */
    text-align: left;
}
.about-trust_support p{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    line-height: 34px;
    width: 100%;
    margin: 5px;
}
.about-trust_support-img{
    position: absolute;
}
.about-trust_support-img img{
    height: 69px;
    width: 69px;
    position: relative;
    transform: translate(430%,100%);
}
/* ----------KPK enterprise animation-------------- */
.about-kpk{
    margin-top: 100px;
}
.about-kpk-text_map{
    /* font-size: 100px; */
     text-align: center;
     padding: 40px 45px;
    
    /* display: inline-block; */
}
.about-kpk-text_ani{
    font-family: Lora;
    font-weight: 900;
    font-style: Black;
    line-height: 100%;
   align-items: center;
     font-size: 110px;
    color: white;
     display: inline;
  -webkit-text-stroke: 2px rgba(141, 155, 106, 1);
  

}
/* --------- */
/* Root wrapper */
.about-typewriter {
  display: inline-block;
  
}

/* Heading text */
.about-typewriter__text {
  font-family: Lora;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  color: rgba(141, 155, 106, 1);
  margin: 0;
  line-height: 1;
      transform: translate(520px, -120px);
  /* position: absolute; */
  /* transform: translate(100%,-200%); */
}

/* Base letter style */
.ta-letter {
  display: inline-block;
  white-space: pre;
  transform-origin: center bottom;
  will-change: transform, opacity;
}

/* Typing animation */
/* @keyframes ta-ascend { */
  /* 0%   { transform: translateY(16px) scale(0.92); opacity: 0; filter: blur(2px); }
  60%  { transform: translateY(-4px) scale(1.05); opacity: 1; filter: blur(0); }
  100% { transform: translateY(0) scale(1); opacity: 1; } */
/* } */

/* Erasing animation */
/* @keyframes ta-descend { */
  /* 0%   { transform: translateY(0) rotateX(0deg); opacity: 1; }
  60%  { transform: translateY(10px) rotateX(10deg); opacity: 0.6; }
  100% { transform: translateY(22px) rotateX(20deg); opacity: 0; } */
/* } */

/* Classes applied */
.ta-enter {
  animation-name: ta-ascend;
  animation-duration: 260ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.2, .9, .2, 1);
}

.ta-exit {
  animation-name: ta-descend;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

/* Cursor */
.ta-cursor {
  display: inline-block;
  margin-left: 6px;
  animation: ta-blink 900ms steps(2, start) infinite;
  font-weight: 600;
}

@keyframes ta-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


/* ----------about-design-------------- */
.about-design{
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.about-design h2{
     text-align: center;
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    
}
.about-design>p{
    /* text-align: center; */
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: 30px;
}
.about-design_cycle-des>h4{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 28.7px;
    letter-spacing: 0%;
    text-align: center;
}
.about-design_cycle_line{
    width: 80%;
    height: 10px;
    background: linear-gradient(90deg, #D4BC91 10.44%, #3A2E27 95.39%);
    position: absolute;
    transform: translate(-0%,100%);
    z-index: 3;
    /* background-color: linear-gradient(90deg, #D4BC91 10.44%, #3A2E27 95.39%); */
    /* border: 10px solid #3A2E27; */

/* border-image-source: linear-gradient(90deg, #D4BC91 10.44%, #3A2E27 95.39%); */


}
.about-design_cycle{
    z-index: 5;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 100px;
}
.about-design_cycle_img{
    text-align: center;
    border-radius: 100%;
    background-color: rgba(212, 188, 145, 1);
    padding: 20px 20px 25px 20px;
    height: 84.81159210205078px;
    width: 84.81159210205078px;
    margin: auto;
}
.about-design_cycle div img{
    
    /* height: 64.81159210205078px;
    width: 64.81159210205078px; */
    height: 50px;
    width: 50px;
    
}
.about-design_cycle h4{
    font-size: Roboto Serif;
    font-size: 20px;
    line-height: 28.7px;
    font-weight: 600;
    /* width: 70%; */
    text-align: center;
    margin: auto;
    margin: 10px;
}

.about-design_cycle div p{
    font-family: Lora;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
/* ----------------about-happyclient-------------------- */
.about-happyclient{
    display: flex;
}
.about-client-left{
    height: 740px;
    width: 740px;
}
.about-client-rigth{
    background-color: rgba(58, 46, 39, 1);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.about-client-rigth img{
    margin: auto;
    height: 133px;
    width: 133px;

}
.about-client-rigth h2{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    

}
.about-client-rigth h2>span{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 69px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;

}
.about-client-rigth p{
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}
.about-client-rigth{
    align-items: center;
}
.about-client-rigth button{
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
    /* text-align: center; */
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    background: rgba(141, 155, 106, 1);
    border: none;
    width: 70%;
    height: 50px;
    align-items: center;
    gap: 10px;
    opacity: 1;
    border-radius: 8px;
    padding-top: 14px;
    padding-right: 68px;
    padding-bottom: 14px;
    padding-left: 68px;
    margin: 10px;

}
/* --------FAQ--------- */
/* faq */
.about-faq > div {
    text-align: center;
    margin-top: 130px;
}

.about-faq div p {
    background-color: #8D9B6A;
    text-align: center;
    border-radius: 50px;
    width: 145px;
    font-size: 21px;
    color: #FFFFFF;
    font-family: Lora;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    margin: auto;
}

.about-faq h2 {
    font-family: Roboto Serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 44px;
    /* width: 40%; */
    margin: auto;
    line-height: 56px;
    letter-spacing: 3%;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

/* ------ */
.about-faq-categories {
    text-align: center;
}

.about-faq_active {
    border: 2px solid rgba(141, 155, 106, 1);
    border-radius: 7.24px;
    padding: 13px 18px;
    font-family: Roboto Serif;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 22px;
    font-weight: 600;
    margin: 0px 10px 30px 10px;
    align-items: center;
}

.about-faq_list {
    width: 80%;
    margin: auto;
}

.about-faq-box {
    background-color: rgba(234, 241, 218, 1);
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 7.24px;
}

.about-faq-ques {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 3%;
    display: flex;
    justify-content: space-between;
}

.about-faq-ans {
    background-color: rgba(234, 241, 218, 1);
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 3%;
}

.about-faq_icon {
    text-align: right;
    height: 41px;
    width: 41px;
}

.about-faq-ques,
.about-faq-ans {
    cursor: pointer;
}
