

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* ---------about-experts----------- */
.about-experts{
    display: flex;
    align-items:center;
    padding: 50px;
}

.about-experts-left img{
    /* height: 505px;
    width: 535.9149780273438px; */
    height: 605px;
    width: 605px;
}
.about-experts-left{
    width: 50%;
    padding-right: 20px;
}
.about-experts-right{
    width: 50%;
}
.about-experts-right div h3{
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 58px;
    margin-bottom: 30px;
}
.about-experts-right div p{
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    padding: 10px;
}
/* count down box */
.about-experts-right_num{
    display: flex;
     gap: 50px;
     margin: 10px;

}
.about-experts-right_num div{
    display: flex;
    flex-direction: column;
   
    color: rgba(141, 155, 106, 1);
}
.about-experts-right_num div h4{
    margin: 0px;
    font-family: Roboto Serif;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 45px; */
    text-align: center;
}
.about-experts-right_num div p{
    margin: 0px;
    padding: 0px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}


/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 575.98px) {
    /* image */
        .about-experts-left img {
        width: 300.00164794921875px;
        height: 387.2176513671875px;
        opacity: 1;
    }
    .about-experts-right_num {
    display: flex;
    gap: 20px;
    margin: 0px;
}
    .about-experts-right div h3 {
        font-family: Roboto Serif;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 3%;
        text-align: center;

    }
    .about-experts-right div p {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
}

.about-experts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20PX;
}
.about-experts-right_num{
    display: flex;
    flex-direction: column;
 }
.about-experts-left {
    width: fit-content;
}
.about-experts-right {
    width: 100%;
    text-align: center;
}

}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {
    .about-hero-viedo {
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
    .about-experts-right_num {
    display: flex;
    gap: 10px;
    margin: 10px;
    }
    .about-experts-left img {
        width: 343.00164794921875px;
        height: 387.2176513671875px;
        opacity: 1;

    }
    .about-experts-right div h3 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .about-experts-right div p {
        font-family: Lora;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 3%;
        text-align: center;

    }

.about-experts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20PX;
}
.about-experts-right_num{
    display: flex;
    flex-direction: column;
 }
.about-experts-left {
    width: fit-content;
}
.about-experts-right {
    width: 100%;
    text-align: center;
}


    
}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .about-experts-right div h3 {
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 0px;
}
    .about-experts {
        padding: 10px 20px;
    }
    .about-experts-right_num {
        display: flex;
        gap: 0px;
        margin: 0px;
    }
    .about-experts-right_num div h4 {
        /* height: 33.07px; */
        font-size: 44px;
    }
    .about-experts-left img {
            height: 447.816925px;
        width: 336.272858px;
}
.about-experts-right div p {
    font-family: Lora;
    font-size: 16.84px;
    font-weight: 400;
    line-height: 26.46px;
    padding: 10px;
}
}

/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
        
    .about-experts-right div h3 {
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0px;
    }
    .about-experts-right_num {
        display: flex;
        gap: 25px;
        margin: 10px;
    }
    .about-client-rigth p {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    }
    .about-client-rigth h2 {
    font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 35px;
    line-height: 49px
    }
    .about-client-rigth img {
        margin: auto;
        height: 100px;
        width: 100px;
    }
    .about-client-rigth button {
        font-size: 19px;
    }
    .about-experts-right div p {
        font-size: 21.84px;
        line-height: 30px;
    }
    .about-experts-left-img{
        height: 495px !important;
        width: 415.272858px !important;
    }
}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about-experts-left img {
        height: 495px;
        width: 508.455658px;
    }
    .about-experts-right div p {
    font-family: Lora;
    font-size: 24px;
    }
    .about-experts-right div h3 {
        font-family: Roboto Serif;
        font-weight: 600;
        font-size: 29px;
        line-height: 58px;
        /* margin-bottom: 30px; */
    }
    /* .about-trust h2 {
        width: 70%;
    }
    .about-trust_support {
        height: 200px;
        width: 360px;
    } */
    /* .about-trust_support-img img {
        transform: translate(376%, 100%);
    } */
}

/* Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors */
@media (min-width: 1400px) {
}