:root{
    --desk_head_tag:16px;
    --desk_head_tag_padd:1px 18px;
    --desk_title:32px;
    --desk_title_lineheight:56px;
    --desk_desc:24px;
    --desk_btn_font:16px;
    --desk_btn_padd:8px 16px;
    
    --tablet_head_tag:12px;
    --tablet_head_tag_padd:1px 14px;    
    --tablet_title:26px;
    --tablet_title_lineheight:37px;
    --tablet_desc:20px;
     --tablet_btn_font:9px;
    --tablet_btn_padd:6.43px 12.21px;

   --mobile_head_tag:8px;
    --mobile_head_tag_padd:1px 10px;    
    --mobile_title:20px;
    --mobile_title_lineheight:30px;
    --mobile_desc:16px;
     --mobile_btn_font:8px;
    --mobile_btn_padd:6.43px 12.21px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.about-hero_viedo{
    height: 815px;
    width: 100%;
    position: absolute;
}
.about-hero-viedo{
    width: 100%;
    object-fit: cover;
}
/* .about-hero_viedo div{
    text-align: center;
    transform: translate(0%,680%);
}
.about-hero_viedo div h2{
    font-family: Roboto Serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: white;
}
SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS

X-Small (xs) - Mobile portrait and smaller devices
@media (max-width: 575.98px) {
}

Small (sm) - Mobile landscape and larger phones
@media (min-width: 576px) and (max-width: 767.98px) {
}

Medium (md) - Tablets and medium devices
@media (min-width: 768px) and (max-width: 991.98px) {
        .about-hero_viedo div {
        text-align: center;
        transform: translate(5%, 734%);
        width: 95%;
    }
    .about-hero_viedo {
        height: 469.4129638671875px;
    }
    .about-hero_viedo div {
    text-align: center;
    transform: translate(0%, 487%);
}
.about-hero_viedo div h2 {
    font-size: 25.92px;
}
}

Large (lg) - Desktops and laptop screens
@media (min-width: 992px) and (max-width: 1199.98px) {
}

Extra Large (xl) - Large desktops
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors
@media (min-width: 1400px) {
} */
 .about-hero_viedo div{
    text-align: center;
    transform: translate(0%,700%);
}
.about-hero_viedo div h2{
    font-family: Roboto Serif;
    font-weight: 500;
    font-size: 41px;
    line-height:32px;
    text-align: center;
    color: white;
}
/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 575.98px) {
    .about-hero-viedo {
    width: 100%;
    object-fit: cover;
    height: 500px;
}
    .about-hero_viedo {
     height: 700px;
    }
    .about-hero_viedo div {
        text-align: center;
        /* transform: translate(0%, 1030%); */
        transform: translate(0%, 400px);
    }
    .about-hero_viedo div h2 {
        font-family: Roboto Serif;
        font-weight: 600;
        font-size: 20px;
    }
}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {
    .about-hero_viedo div h2 {
    font-size: 20px;
}
.about-hero_viedo div {
    text-align: center;
    transform: translate(0%, 600px);
}
}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
        .about-hero_viedo div {
        text-align: center;
        transform: translate(5%, 378px);
        width: 95%;
    }
    .about-hero_viedo {
        height: 469.4129638671875px;
    }
    /* .about-hero_viedo div {
    text-align: center;
    transform: translate(0%, 487%);
    } */
.about-hero_viedo div h2 {
    font-size: 25.92px;
}
}

/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .about-hero_viedo div{
        text-align: center;
        transform: translate(0%,500%);
    }
}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about-hero_viedo div{
        text-align: center;
        transform: translate(0%,650%);
    }
}