:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
    --inter:"Inter",sans-serif;
}

.designsession_container2{
    margin: 6rem 0;
    width: 100%;
}

.designsession_text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.design_badge2{
    margin: 0.5rem 0;
    /* width: 208px; */
    font-family: var(--lora);
    font-weight: 600;
    font-size: var(--desk_head_tag);
    line-height: 2rem;
    color: white;
    /* height: 37px; */
    padding: var(--desk_head_tag_padd);
    border-radius: 50px;
    background-color: #8D9B6A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designsession_title2{
    margin: 0.5rem 0;
    width: 60%;
    font-family: var(--roboto);
    font-size: var(--desk_title);
    line-height: 56px;
    letter-spacing: 3%;
    font-weight: 600;
}

.designsession_des2{
    margin: 0.5rem 0;
    width: 73%;
    font-size: var(--desk_desc);
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 3%;
    font-family: var(--lora);
}

.steps_sectiongrid2{
    margin: 3rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.steps_card2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.sesscard_title2{
    font-family: var(--lora);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3%;
}

.session_btnwrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.session_btn2{
    margin: 1rem 0;
    width: 421px;
    border: none;
    color: white;
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: 600;
    height: 50px;
    background-color: #3A2E27;
    border-radius: 8px;
}

@media (min-width: 992px) and (max-width: 1200px){
    .steps_card2{
        text-align: center;
    }


}

@media (min-width: 768px) and (max-width: 991px){
    .design_badge2{
        width: 160px;
        height: 26px;
      font-size: var(--tablet_head_tag);
        padding: var(--tablet_head_tag_padd);
        line-height: 22px;
    }

    .designsession_title2{
        width: 90%;
        font-size: var(--tablet_title);
        line-height: 48px;
    }

    .designsession_des2{
        width: 90%;
        font-size:var(--tablet_desc);
        line-height: 40px;
    }

    .steps_sectiongrid2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }

    .session_btn2{
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .design_badge2{
        width: 160px;
        height: 26px;
        font-size: var(--tablet_head_tag);
        padding: var(--tablet_head_tag_padd);
        line-height: 22px;
    }

    .sesscard_img2{
        width: 200px;
    }

    .designsession_title2{
        width: 90%;
        font-size: 32px;
        line-height: 48px;
    }

    .designsession_des2{
        width: 90%;
        font-size: 24px;
        line-height: 40px;
    }

    .steps_sectiongrid2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }

    .session_btn2{
        font-size: 20px;
    }   
}

@media (max-width: 575px) {

    .designsession_container2{
        margin: 2rem 0;
    }
    .design_badge2{
        width: 120px;
        height: 25px;
        font-size: var(--mobile_head_tag);
        padding: var(--mobile_head_tag_padd);
        line-height: 8.7px;
    }

    .designsession_title2{
        font-size: 20px;
        line-height: 28px;
    }

    .designsession_des2{
        font-size: 16px;
        line-height: 24px;
    }

    .steps_sectiongrid2{
        flex-direction: column;
        gap: 3rem;
    }

    .session_btn2{
        width: fit-content;
        padding: 0 4rem;
        font-size: 12px;
    }
}

@media (max-width: 375px){
    .steps_sectiongrid2{
        margin: 2rem 10px;
        flex-direction: column;
        gap: 3rem;
    }

    .designsession_title2{
        width: 85%;
    }

    .designsession_des2{
        width: 80%;
    }

    .session_btn2{
        padding: 0;
        width: 80%;
        font-size: 12px;
    }    
}