*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
}

.contact_hero_con3{
    height: 680px;
    width: 100vw;
    background-image: url('../../../assets/explore_image/Desktop-155.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:end;
}

.contact_hero_head3{
    width: 68%;
    font-size: var(--desk_title);
    position: absolute;
    bottom: 10%;
    line-height: var(--desk_title_lineheight);  
    font-family: var(--robotofont-font-family);
    color: #ffff;
}


@media (min-width:992px) and (max-width:1199px) {

    .contact_hero_con3{
    height: 680px;
    width: 100vw;
}
.contact_hero_head3{
    width: 78%;
    font-size: var(--desk_title);

}
}



@media (min-width:768px) and (max-width:991.98px) {

    .contact_hero_con3{
    height: 480px;
    width: 100vw;
}
.contact_hero_head3{
    width: 85%;
    font-size: var(--tablet_title);
    line-height: var(--tablet_title_lineheight);

}
}

@media (min-width:576px) and (max-width:767.98px) {

    .contact_hero_con3{
    height: 480px;
    width: 100vw;
}
.contact_hero_head3{
    width: 85%;
    font-size:var(--tablet_title);
    line-height: var(--tablet_title_lineheight);

}
}



@media (max-width:575px) {
    

    .contact_hero_con3{
    height: 270px;
    width: 100vw;
     margin-top: 20%;

}
.contact_hero_head3{
    width: 85%;
    font-size: var(--mobile_title);
    line-height: var(--mobile_title_lineheight);
}
}