@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
}

.contact_hero_con3{
    height: 780px;
    width: 100vw;
    background-image: url('D:\codd99\kpk_interior_design\kpk_interior_design\src\assets\contact\images\Desktop - 155.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8%;
    position: relative;
    text-align: center;
}

.contact_hero_head3{
    width: 68%;
    font-size: 55px;
    position: absolute;
    bottom: 17%;
    transform: translate(24% ,50%);
    font-family: var(--robotofont-font-family);
    color: #ffff;
}


@media (min-width:992px) and (max-width:1199px) {

    .contact_hero_con3{
    height: 680px;
    width: 100vw;
}
.contact_hero_head3{
    width: 78%;
    font-size: 55px;
    transform: translate(15% ,50%);

}
}



@media (min-width:768px) and (max-width:991.98px) {

    .contact_hero_con3{
    height: 480px;
    width: 100vw;
}
.contact_hero_head3{
    width: 85%;
    font-size: 40px;
    transform: translate(10% ,50%);

}
}

@media (min-width:576px) and (max-width:767.98px) {

    .contact_hero_con3{
    height: 480px;
    width: 100vw;
}
.contact_hero_head3{
    width: 85%;
    font-size: 38px;
    transform: translate(10% ,40%);

}
}



@media (max-width:575px) {
    
}
    .contact_hero_con3{
    height: 270px;
    width: 100vw;
     margin-top: 20%;

}
.contact_hero_head3{
    width: 85%;
    font-size: 14px;
    transform: translate(10% ,40%);

}
