* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --textcolor-color:#ffffff;
}

        /* rate section main container */

.home_rate_sec__con3{
    /* height:400px ; */
    background-image: url('../../../assets/home/images/Frame1000012608.png');
    background-size: 100%  100%;
    background-repeat: no-repeat;
    background-color: #3A2E27;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 70px;
    padding: 4rem 0rem;
}

            /* section heading */

.home_rate_sec__con3 h1{
    color: white;
    font-size: 46px;
    font-family: var(--robotofont-font-family);
    letter-spacing: 3%;
}


.home_rate_sec__con3 button{
    font-size:var(--desk_btn_font) ;
    font-weight: 600;
    padding: var(--desk_btn_padd);
    font-family: var(--robotofont-font-family);
    margin-top: 5%;
    background-color: #8D9B6A;
    border: none;
    border-radius: 8px;
    color: var(--textcolor-color);
}


        /* tablet view media */

@media (min-width:768px) and (max-width:991.98px) {
    .home_rate_sec__con3 h1{
        font-size: 36px;
        width: 60%;
        margin: auto;
        line-height:45px ;

    }
    .home_rate_sec__con3 button{
        font-size: 20px;
    }
    
}
        /* small tablet view media */

@media (min-width:576px) and (max-width:767.98px) {
    .home_rate_sec__con3 h1{
        font-size: 36px;
        width: 70%;
        margin: auto;
        line-height:45px ;
         margin-bottom: 3%;

    }
    .home_rate_sec__con3 button{
        font-size: 20px;
    }
    
}
        /* mobile view media */

@media  (max-width:575.98px) {
    .home_rate_sec__con3{
        height: 490px;
        margin-top: 5%;
    }
    .home_rate_sec__con3 h1{
        font-size: 28px;
        width: 80%;
        line-height:45px ;
         margin-bottom: 3%;
    }
    .home_rate_sec__con3 button{
        font-size: 20px;
    }
    
}