
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --interfont-font-family:"Inter";
    --textcolor-color:#ffffff;
}

.home_rate_sec__con3{
    height:380px ;
    background-image: url('D:\codd99\kpk_interior_design\kpk_interior_design\src\assets\home\images\Frame 1000012608.png');
    background-size: 100%  100%;
    background-repeat: no-repeat;
    background-color: #3A2E27;
    text-align: center;
    line-height: 70px;
    padding: 4rem 0rem;
    margin-top: 4%;
}

.home_rate_sec__con3 h1{
    color: white;
    font-size: 53px;
    font-family: var(--interfont-font-family);
    letter-spacing: 3%;
}


.home_rate_sec__con3 button{
    font-size:24px ;
    font-weight: 600;
    padding: 0.3rem 3rem;
    font-family: var(--robotofont-font-family);
    margin-top: 5%;
    background-color: #8D9B6A;
    border: none;
    border-radius: 8px;
    color: var(--textcolor-color);
}