@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --interfont-font-family:"Inter";
    --textcolor-color:#ffffff;
}


.home_our__con3{
    height: 707px;
    width: 100vw;
    background-color: gray;

}
.home_our_head3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.home_our_title3{
    width: 15%;
    font-size: 24px;
    padding:0.1rem 0rem;
    border-radius: 50px;
    line-height: 2rem;
    background-color:#8D9B6A;
    color: white;
    margin-top: 9%;
    font-family: var(--lorafont-font-family);
}

.home_our_title_head3{
    font-size: 40px;
    width: 50%;
    font-weight: 600;
    margin-top: 2%;
    font-family: var(--robotofont-font-family);
}

.home_our_caption3{
    font-size: 26px;
    width: 70%;
    line-height: 2.5rem;
    margin-top: 2%;
    font-family: var(--lorafont-font-family);
}