/* ================= SECTION ================= */
.about-trust {
  text-align: center;
  /* margin-top: 60px; */
  padding: 20px;
}

.about-trust h2 {
  font-family: "Roboto Serif";
  font-size: var(--desk_title);
  line-height:var(--desk_title_lineheight);
  width: 70%;
  margin: auto;
  padding-bottom: 24px;
}

.about-trust p {
  font-family: "Lora";
  font-size: 22px;
  line-height: 38px;
  /* width: 75%; */
  margin: auto;
  /* padding-bottom: 60px; */
}

/* ================= ROW ================= */
.trust-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

/* ================= CARD ================= */
.about-trust_support {
  background-color: #d1d7c3;
  border-radius: 24px;
  width: 410px;
  height: 190px;
  padding: 20px;
  position: relative;
  text-align: left;
}

.about-trust_support h3 {
  font-family: "Lora";
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-trust_support p {
  font-family: "Lora";
  font-size: 16px;
  line-height: 28px;
}

/* ================= ICON ================= */
.about-trust_support-img {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.about-trust_support-img img {
  width: 64px;
  height: 64px;
}

/* ================= TABLET (≤ 991px) ================= */
/* RESULT: 2,2,2,2 */
@media (max-width: 991px) {

  .about-trust h2 {
    font-size: var(--tablet_title);
    line-height: var(--tablet_title_lineheight);
    width: 90%;
  }

  .about-trust p {
    margin: auto;
    font-size: var(--tablet_desc);
    width: 90%;
  }

  .trust-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-trust_support {
    width: calc(50% - 20px);
    max-width: 360px;
    height: auto;
  }
}

/* ================= MOBILE (≤ 575px) ================= */
/* RESULT: 1,1,1,1 */
@media (max-width: 575px) {

  .about-trust h2 {
    font-size: var(--mobile_title);
    line-height: var(--mobile_title_lineheight);
  }

  .about-trust p {
    font-size: var(--mobile_desc);
    line-height: 24px;
  }

  .trust-row {
    flex-direction: column;
    align-items: center;
  }

  .about-trust_support {
    width: 100%;
    max-width: 340px;
  }

  .about-trust_support-img img {
    width: 48px;
    height: 48px;
  }
}