:root{
    --desk_head_tag:16px;
    --desk_head_tag_padd:1px 18px;
    --desk_title:32px;
    --desk_title_lineheight:56px;
    --desk_desc:24px;
    --desk_btn_font:16px;
    --desk_btn_padd:8px 16px;
    
    --tablet_head_tag:12px;
    --tablet_head_tag_padd:1px 14px;    
    --tablet_title:26px;
  --tablet_title_lineheight:37px;
    --tablet_desc:20px;
     --tablet_btn_font:9px;
    --tablet_btn_padd:6.43px 12.21px;

   --mobile_head_tag:8px;
    --mobile_head_tag_padd:1px 10px;    
    --mobile_title:20px;
  --mobile_title_lineheight:30px;
    --mobile_desc:16px;
     --mobile_btn_font:8px;
    --mobile_btn_padd:6.43px 12.21px;
}

:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif; 
    --btnbg-background-color:#8D9B6A;   
}
body{
  overflow-x: hidden;
  margin: 0;
}

/* Reset and Box Sizing */
* {box-sizing: border-box;
  margin: 0;
}

/* Slideshow container - MODIFIED FOR FULL SCREEN */
.home_slideshow__container3 {
  max-width: 100%; /* Use full viewport width */
  height: 630px;
  position: relative;
  border-radius: 0; 
  overflow: hidden;
  box-shadow: none; 
  margin-top: 8%;
}

/* Individual Slides */
.home_mySlides3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: opacity 1.5s ease; /* Fading transition */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_mySlides3 .home_slide_img3 {
  width:100%;
  height:100%;
  object-fit: cover; /* Ensures images cover the full screen */
  vertical-align: middle;
}

/* Next & previous buttons */
.home_prev3, .home_next3 {
  cursor: pointer;
  position: absolute;
  top: 47%;
  height:40px;
  width:40px;
  padding:7px 13px;
  margin-top: -22px;
  color: rgb(13, 12, 12);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(241, 237, 237, 0.5);
  z-index: 10;
}

/* Position the "next button" to the right */
.home_next3 {
  right: 6%; 
  border-radius: 50%;
}
.home_prev3 {
  left: 6%; 
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.home_prev3:hover, .home_next3:hover {
  background-color:#ffffff;
}

/* Caption text */
.home_hero_title3 {
  color: #f2f2f2;
  font-size: 41px; /* Increased size for full screen */
  padding: 1rem 2rem;
  position: absolute;
  top:55%;
  width: 60%;
  height: 30%;
  font-weight: 600;
  font-family: var(--robotofont-font-family);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_hero_button3{
    color: #f2f2f2;
  font-size: var(--desk_btn_font);
  border: none;
  padding:var(--desk_btn_padd);
  font-weight: 530;
  border-radius: 7px;
  position: absolute;
  bottom: 13%;
  font-family: var(--robotofont-font-family);
  text-align: center;
  background: var(--btnbg-background-color);


}

.home_grantie_logo3{
  position: absolute;
  top: 16.5%;
  right: 10%;
  height: 143px;
  width: 154px;
}

/* The dots/bullets/indicators container */
.home_dot_container3 {
    text-align:center; 
    padding: 10px 0;
    position: absolute; /* Fixed position at the bottom of the screen */
    /* bottom: 100px;  */
    bottom: 5%;
    width: 100%;
    z-index: 15;
}
.home_dot3 {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease, transform 0.3s;
}

.home_dot3.active, .home_dot3:hover {
  background-color: #717171;
  transform: scale(1.1);
}

@media (min-width:992px) and (max-width:1199.99px){
  .home_slideshow__container3{
    height: 600px;
    margin-top: 8%;
  }
    .home_hero_title3{
  width: 80%;
    }

    .home_grantie_logo3{
        top: 17.5%;
        right: 12%;
  
    }
    .home_prev3, .home_next3 {
      top: 50%;
    }
    .home_dot_container3{
      bottom:3%;
    }
  
}


@media (min-width:768px) and (max-width:991.99px) {
    .home_slideshow__container3{
    height: 450px;
  margin-top: 10%;
  }
      .home_hero_title3{
      font-size: var(--tablet_title);
      width: 75%;

    }

    .home_hero_button3{
      font-size:var(--tablet_btn_font);
      padding: var(--tablet_btn_padd);
    }

    .home_grantie_logo3{
        top: 23%;
        height: 100px;
        width: 107px;
        right: 16%; 
    }
    .home_prev3, .home_next3 {
      top: 50%;
    }
    .home_dot3{
      height: 10px;
      width: 10px;
    }
    .home_dot_container3{
      bottom: 2%;
    }
    
}

@media (min-width:576px) and (max-width:767.98px) {
  .home_slideshow__container3{
    height: 400px;
    margin-top: 12%;
  }
      .home_hero_title3{
      font-size: var(--tablet_title);
      width: 80%;

    }

    .home_hero_button3{
      font-size:var(--tablet_btn_font);
      padding: var(--tablet_btn_padd);

    }

    .home_grantie_logo3{
        top: 23%;
        height: 100px;
        width: 107px;
        right: 16%; 
    }
    .home_prev3, .home_next3 {
      top: 48%;
    }
        .home_dot3{
      height: 10px;
      width: 10px;
    }
    .home_dot_container3{
      bottom:4%;
    }
}

@media (max-width:575.98px) {
    .home_slideshow__container3{
    height: 300px;
    margin-top: 17%;
  }
      .home_hero_title3{
      font-size: 18px;
      width: 100%;
      bottom:20%;

    }

    .home_hero_button3{
      font-size: var(--mobile_head_tag);
      line-height: 1rem;
      padding:var(--mobile_head_tag_padd) ;


    }

    .home_grantie_logo3{
        top: 30%;
        /* right: 10%; */
        height: 78px;
        width: 85px;
    }
    .home_prev3, .home_next3 {
      display: none;
    }
            .home_dot3{
      height: 10px;
      width: 10px;
    }
    .home_dot_container3{
      bottom:1%;
    }
}