
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif; 
    --btnbg-background-color:#8D9B6A;   
}
body{
  overflow-x: hidden;
}

/* Reset and Box Sizing */
* {box-sizing: border-box}

/* Slideshow container - MODIFIED FOR FULL SCREEN */
.home_slideshow__container3 {
  max-width: 100%; /* Use full viewport width */
  height: 750px;
  position: relative;
  border-radius: 0; 
  overflow: hidden;
  box-shadow: none; 
  margin-top: 10%;
}

/* Individual Slides */
.home_mySlides3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: opacity 1.5s ease; /* Fading transition */
}
.home_mySlides3 .home_slide_img3 {
  width:100%;
  height:100%;
  object-fit: cover; /* Ensures images cover the full screen */
  vertical-align: middle;
}

/* Next & previous buttons */
.home_prev3, .home_next3 {
  cursor: pointer;
  position: absolute;
  top: 43%;
  height:40px;
  width:40px;
  padding:7px 13px;
  margin-top: -22px;
  color: rgb(13, 12, 12);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(241, 237, 237, 0.5);
  z-index: 10;
}

/* Position the "next button" to the right */
.home_next3 {
  right: 6%; 
  border-radius: 50%;
}
.home_prev3 {
  left: 6%; 
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.home_prev3:hover, .home_next3:hover {
  background-color:#ffffff;
}

/* Caption text */
.home_hero_title3 {
  color: #f2f2f2;
  font-size: 70px; /* Increased size for full screen */
  padding: 1rem 2rem;
  position: absolute;
  bottom: 15%;
  width: 100%;
  font-weight: 600;
  font-family: var(--robotofont-font-family);
  text-align: center;
}

.home_hero_button3{
    color: #f2f2f2;
  font-size: 30px;
  border: none;
  padding: 8px 6%;
  font-weight: 530;
  border-radius: 10px;
  position: absolute;
  left: 400px;
  font-family: var(--robotofont-font-family);
  bottom: 8%;
  text-align: center;
  background: var(--btnbg-background-color);

}

.home_grantie_logo3{
  position: absolute;
  top: 16.5%;
  right: 10%;
  height: 230px;
  width: 250px;
}

/* The dots/bullets/indicators container */
.home_dot_container3 {
    text-align:center; 
    padding: 10px 0;
    position: absolute; /* Fixed position at the bottom of the screen */
    /* bottom: 100px;  */
    bottom: 2%;
    width: 100%;
    z-index: 15;
}
.home_dot3 {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease, transform 0.3s;
}

.home_dot3.active, .home_dot3:hover {
  background-color: #717171;
  transform: scale(1.1);
}

@media (min-width:992px) and (max-width:1199.99px){
  .home_slideshow__container3{
    height: 600px;
    margin-top: 5%;
  }
    .home_hero_title3{
      font-size: 50px;
      bottom: 18%;
      left: 6%;
      width: 90%;
    }

    .home_hero_button3{
      font-size: 28px;
      bottom:8.5%;
      left: 33%;
    }

    .home_grantie_logo3{
        top: 17.5%;
        right: 10%;
        height: 180px;
        width: 200px;
    }
    .home_prev3, .home_next3 {
      top: 55%;
    }
    .home_dot_container3{
      bottom:1%;
    }
  
}


@media (min-width:768px) and (max-width:991.99px) {
    .home_slideshow__container3{
    height: 540px;
    margin-top: 5%;
  }
      .home_hero_title3{
      font-size: 40px;
      bottom: 20%;
      left: 5%;
      width: 90%;

    }

    .home_hero_button3{
      font-size: 20px;
      bottom:13%;
      left: 31%;
    }

    .home_grantie_logo3{
        top: 8%;
        right: 10%;
        height: 148px;
        width: 159px;
    }
    .home_prev3, .home_next3 {
      top: 45%;
    }
    .home_dot_container3{
      bottom: 2%;
    }
    
}

@media (min-width:576px) and (max-width:767.98px) {
  .home_slideshow__container3{
    height: 420px;
    margin-top: 15%;
  }
      .home_hero_title3{
      font-size: 30px;
      bottom:20%;
      left: 4.5%;
      width: 90%;

    }

    .home_hero_button3{
      font-size: 20px;
      bottom:15%;
      left: 30%;
      padding: 4px 4%;
    }

    .home_grantie_logo3{
        top: 8%;
        right: 10%;
        height: 128px;
        width: 149px;
    }
    .home_prev3, .home_next3 {
      top: 45%;
    }
    .home_dot_container3{
      bottom:4%;
    }
}

@media (max-width:575.98px) {
    .home_slideshow__container3{
    height: 300px;
    margin-top: 25%;
  }
      .home_hero_title3{
      font-size: 20px;
      bottom:20%;

    }

    .home_hero_button3{
      font-size: 16px;
      bottom:13%;
      left: 12%;
      padding: 4px 15%;
    }

    .home_grantie_logo3{
        top: 8%;
        right: 10%;
        height: 78px;
        width: 85px;
    }
    .home_prev3, .home_next3 {
      display: none;
    }
    .home_dot_container3{
      bottom:2%;
    }
}

