
/* --------FAQ--------- */
/* faq */
.about-faq > div {
    text-align: center;
    margin-top: 130px;
}

.about-faq div p {
    background-color: #8D9B6A;
    text-align: center;
    border-radius: 50px;
    width: 145px;
    font-size: 21px;
    color: #FFFFFF;
    font-family: Lora;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    margin: auto;
}

.about-faq h2 {
    font-family: Roboto Serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 44px;
    /* width: 40%; */
    margin: auto;
    line-height: 56px;
    letter-spacing: 3%;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

/* ------ */
.about-faq-categories {
    text-align: center;
}

.about-faq_active {
    border: 2px solid rgba(141, 155, 106, 1);
    border-radius: 7.24px;
    padding: 13px 18px;
    font-family: Roboto Serif;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 22px;
    font-weight: 600;
    margin: 0px 10px 30px 10px;
    align-items: center;
}

.about-faq_list {
    width: 80%;
    margin: auto;
}

.about-faq-box {
    background-color: rgba(234, 241, 218, 1);
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 7.24px;
}

.about-faq-ques {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto Serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 3%;
    display: flex;
    justify-content: space-between;
}

.about-faq-ans {
    background-color: rgba(234, 241, 218, 1);
    text-align: left;
    font-family: Lora;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 3%;
}

.about-faq_icon {
    text-align: right;
    height: 41px;
    width: 41px;
}

.about-faq-ques,
.about-faq-ans {
    cursor: pointer;
}
/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 575.98px) {
        .about-faq > div {
        text-align: center;
        margin-top: 80px;
    }
        .about-faq-ques-size{
        font-family: Roboto Serif;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 12px;
        line-height: 13.1px;
        letter-spacing: 3%;

    }
    .about-faq-ans-size{
        font-family: Lora;
        font-weight: 500;
        font-style: Medium;
        font-size: 6px;
        leading-trim: NONE;
        line-height: 12px;
        letter-spacing: 3%;


    }

}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {
        .about-faq-ques-size{
        font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    text-align: center;
    }
    .about-faq-ans-size{
        font-family: Lora;
    font-weight: 500;
    font-style: Medium;
    font-size: 11.58px;
    leading-trim: NONE;
    line-height: 20.26px;
    letter-spacing: 3%;

    }
}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .about-faq-ques-size{
        font-family: Roboto Serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    text-align: center;
    }
    .about-faq-ans-size{
        font-family: Lora;
    font-weight: 500;
    font-style: Medium;
    font-size: 11.58px;
    leading-trim: NONE;
    line-height: 20.26px;
    letter-spacing: 3%;

    }
}

/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors */
@media (min-width: 1400px) {
}