/* ---------------- WRAPPER ---------------- */

.image-related-wrapper {
  margin-top: 100px;
}

/* ---------------- HEADING ---------------- */

.image-related-wrapper h3 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 28px;
  color: #000;
}

/* ---------------- CAROUSEL ---------------- */

.image-related-carousel {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* ---------------- CARDS ---------------- */

.image-related-cards {
  display: grid;
  gap: 16px;
  flex: 1;
}

.image-related-card {
  cursor: pointer;
}

.image-related-card img {
  width: 100%;
  height: 220px;
  border-radius: 14px;
  object-fit: cover;
}

.image-related-card p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* ---------------- ARROWS ---------------- */

.arrow {
  background: #3A2E27;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------- X-SMALL (xs) ---------------- */

@media (max-width: 575.98px) {
  .image-related-wrapper h3 {
    font-size: 26px;
  }

  .image-related-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-related-card img {
    height: 250px;
  }
}

/* ---------------- SMALL (sm) ---------------- */

@media (min-width: 576px) and (max-width: 767.98px) {
  .image-related-wrapper h3 {
    font-size: 28px;
  }

  .image-related-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ---------------- MEDIUM (md) ---------------- */

@media (min-width: 768px) and (max-width: 991.98px) {
  .image-related-wrapper h3 {
    font-size: 34px;
  }

  .image-related-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ---------------- LARGE (lg) ---------------- */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .image-related-wrapper h3 {
    font-size: 40px;
  }

  .image-related-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ---------------- EXTRA LARGE (xl) ---------------- */

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .image-related-cards {
    gap: 18px;
  }

  .image-related-cards {
    grid-template-columns: repeat(4, 1fr);
  }

}

/* ---------------- EXTRA EXTRA LARGE (xxl) ---------------- */

@media (min-width: 1400px) {
  .image-related-wrapper h3 {
    font-size: 44px;
  }

  .image-related-cards {
    gap: 20px;
  }

  .image-related-cards {
    grid-template-columns: repeat(4, 1fr);
  }

}