
:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.kitchen_design_section2{
    margin-top: 6rem;
}

.design_main_content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design_header2{
    font-family: var(--roboto);
    color: #000000;
    width: 48rem;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.design_content2{
    margin-top: 1rem;
    color: #222222;
    font-family: var(--lora);
    width: 60rem;
    text-align: center;
    font-size: 28px;
    line-height: 44px;
    font-weight: 400;
}

.designs_grid2{
  max-width: 1400px;
    width: 100%;
    padding: 0 3rem;
    margin:2.5rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
}

.design_card2{
    background-color: #EAF1DA;
    height: 509px;
    width: 100%;
     border-radius: 15px;
     padding: 20px 15px;
    display: flex;
     flex-direction: column;
}

.design_image_wrapper2{
     overflow: hidden;
      height: 300px;
    width: 100%;
}

.slide_cont2{
    width: 200%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    animation:fadeInSlide 6s infinite alternate;
}

.slide_img2{
  width: 50%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.design_image_wrapper2:hover .slide_cont2{
  animation-play-state: paused;
}

.design_image_wrapper2 img:hover{
    width: 50%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.card_content2{
    font-family: "Inter",sans-serif;
    margin: 1rem 0.5rem;
    line-height: 23px;
    overflow: hidden;
}

.card_title2{
    font-size: 16px;
    font-weight: 600;
}

.card_description2{
    font-size: 12px;
    font-weight: 400;
}

.design_button2{
    font-family: var(--roboto);
    cursor: pointer;
    border: none;
    padding: 6px 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #3A2E27;
    margin-top: 3rem;
}


@keyframes fadeInSlide {
  0%,10% {
    transform: translateX(0); 
  }
  20%{
    transform: translateX(-50%);
  }
    60%{
    transform: translateX(-50%);
  }
    70% {
    transform: translateX(0);    
  }
  100% {
    transform: translateX(0);    
  }
}

@media (min-width: 992px) and (max-width: 1200px){

    .designs_grid2{
      grid-template-columns: repeat(3,1fr);
        padding: 0 2.8rem;
    }

  .design_card2{
    width: 100%;
    height: 430px;
    padding: 18px 15px !important;
  }

  .design_image_wrapper2{
    width: 100%;
  }

  .design_image_wrapper2 img:hover{
    object-fit: contain;
    width: 100%;
    text-align: center;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .slide_img2{
    height: 100%;
    width: 100%;
  }

  .card_title2{
    font-size: 14.3px;
    line-height: 20.62px;
  }

  .card_description2{
    font-size: 10.76px;
    line-height: 20.62px;
    margin-bottom: 30px;
  }

  .design_button2{
    font-size: 17.9px;
    height: 10%;
    padding: 7px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px){
  .design_header2{
    font-size:32px;
    line-height: 48px;
    width: 70%;
  }  

  .design_content2{
    font-size: 24px;
    line-height: 40px;
    width: 80%;
  }

  .designs_grid2{
    grid-template-columns: repeat(2,1fr);
    padding: 0 8%;
  }

  .design_card2{
    width: 90%;
    height: 459px;
    padding: 18px 13px;
    margin: 0 auto;
  }

  .slide_img2{
    margin: auto;
    width: 90%;
    height: 100%;
  }

  .card_title2{
    font-size: 14.3px;
    line-height: 20.62px;
  }

  .card_description2{
    font-size: 10.76px;
    line-height: 20.62px;
    margin-bottom: 18px;
  }

  .design_image_wrapper2 {
        width: 100%; 
  }

  .design_image_wrapper2 img:hover{
    object-fit: contain;
    width: 100%;
    text-align: center;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .design_button2{
    font-size: 17.9px;
    height: 9%;
    padding: 7px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){

    .designs_grid2{
        padding: 0 1px;
        gap: 10px;
    }

  .design_header2{
    font-size:32px;
    line-height: 48px;
    width: 70%;
  }  

  .design_content2{
    font-size: 24px;
    line-height: 40px;
    width: 80%;
  }

  .designs_grid2{
    grid-template-columns: repeat(2,1fr);
    padding: 0 7%;
    gap: 1rem;
  }

  .design_card2{
    width: 100%;
    height: 459px;
    padding: 18px 13px;
  }

  .card_content2{
    margin: 10px;
  }

  .slide_image2{
    width: 344px;
    height: 274px;
  }

  .slide_image2 img{
    height: 100%;
    width: 100%;
  }

  .design_image_wrapper2 img:hover{
    object-fit: contain;
    width: 100%;
    text-align: center;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
  }

  .card_title2{
    font-size: 14.3px;
    line-height: 20.62px;
  }

  .card_description2{
    font-size: 10.76px;
    line-height: 13.62px;
    margin-bottom: 14px;
  }

  .design_button2{
    margin-top: 30px;
    font-size: 17.9px;
    height: 9%;
    padding: 7px;
  }
 
}


@media (max-width: 575px){

    .kitchen_design_section2{
      margin-top: 0.5rem;
    }
    .design_header2{
        font-size: 20px;
        line-height: 28px;
        width: 60%;
    }

    .design_content2{
        font-size: 16px;
        line-height: 24px;
        width: 80%;
    }

    .designs_grid2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .design_card2{
        height: 425px;
        width: 343px;
    }

    .design_image_wrapper2{
        height: 100%;
        width: 100%;
        border-radius: 15px;
    }

    .design_image_wrapper2 img:hover{
    object-fit: contain;
    width: 100%;
    text-align: center;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

    .slide_image2{
        height: 100%;
        width: 100%;
    }

    .slide_image2 img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .card_content2{
        padding-bottom: 16px;
    }

    .card_description2{
      margin-bottom: 20px;
    }

    .design_button2{
        font-size: 16.57px;
        padding: 6px;
        height: 12%;
        overflow: hidden;
        margin-top: 25px;
    }
}

@media (max-width: 375px){
    .kitchen_design_section2{
        margin-top: 2rem;
    }

    .design_header2{
        width: 85%;
    }

    .design_card2{
        margin: auto;
        height: 450px;
        width: 90%;
    }

    .designs_grid2{
        width: 90%;
        padding: 0px;
    }

    .design_image_wrapper2{
      height: 300px;
    }

    .design_image_wrapper2 img:hover{
    object-fit: contain;
    width: 100%;
    text-align: center;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

    .card_content2{
        padding-bottom: 10px;
    }

    .card_title2{
        font-size: 12px;
    }

    .card_description2{
        font-size: 9px;
    }
}