@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer_main_container2{
    padding-top: 3.5rem ;
    background-color: #D4BC91;
    width: 100vw;
    height: 630px;
}

.value_propcard2{
    height: 102px;
    width: 914px;
    border: 1px solid black;
    border-radius: 5px;
}

.value_propcard_section2{
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.value_propcard2{
    display: flex;
}

.prop_icon2{
    margin-left: 2%;
    height: 91px;
    width: 176px;
    overflow: hidden;
}

.prop_content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    transform: translateX(-12%);
}

.prop_title2{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2%;
}

.prop_text2{
    font-family: "Merriweather",serif;
    font-size: 8px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 2%;
}

.footer_main_content2{
    /* margin: 0 2.5rem; */
    padding: 0 4rem;
    margin-top: 1rem;
    /* height: 395px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contact_info2{
    font-family: "Lora",serif;
    width: 495px;
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    color: #000000;
}

.footer_contact_info2 img{
    transform: translateX(-6%);
    height: 180px;
    width: 200px;
}

.footer_tagline2{
    margin-top: -2rem;
}

.contact_details2{
    font-size: 20px;
}

.contact_details2 li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.contact_details2 li img{
    height: 27px;
    width: 27px;
}

.footer_quicklinks2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_quicklinks2 li a{
    text-decoration: none;
    color: black;
}