* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --textcolor-color:#ffffff;
}


.home_about__con3{
    display: flex;
    margin-top: 10%;
    position: relative;
    margin-bottom: 3%;
}

.home_about__head3{
    flex: 0.95;
    height: 786px;
    overflow: hidden;

}
.home_about_us_head3{
     width: 600px;
     height: 100%;
     margin: auto;
    position: relative;
}
.home_about_dot_card3{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 1.5%;
    left: 13.9%;
}

.home_about_dot_img3{
    height: 100%;
    width: 100%;
}
.home_about_small__card3{
    height: 190px;
    width: 230px;
    z-index: 3;
    position: absolute;
    top: 52.5%;
    left: 10.5%;
    overflow: hidden;

}
.home_about_small_img3{
    height: 100%;
    width: 100%;
}
.home_about_large_card3{
    height:600px ;
    width: 430px;
    z-index: 2;
    position: absolute;
    right: 65px;
    top: 40px;
    overflow: hidden;
}
.home_about_large_img3{
    height: 100%;
    width: 100%;
}
.home_about__body3{
    flex: 1;
}

.home_about_body_title3{
    font-size: var(--desk_head_tag);
    width: 25%;
    border-radius: 15px;
    padding: var(--desk_head_tag_padd);
    margin-bottom: 1.2%;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    background-color: #8D9B6A;
}

.home_about_title_head3{
    font-size: var(--desk_title);
    width: 80%;
    font-weight: 600;    
    line-height: 44px;
    margin-bottom: 3%;
    font-family: var(--robotofont-font-family);
}

.home_about_title_caption3{
    font-size: var(--desk_desc);
    font-family: var(--lorafont-font-family);
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 3%;
}

.home_about_icon_con3{
    display:grid;
    gap: 20px;
    column-gap: 50px;
    text-align: justify;
    grid-template-columns: repeat(2,0fr);
    margin-bottom: 3.5%;
}

.home_about_icon__card3{
    display: flex;
    gap:15px ;
   
    align-items: center;
    min-width:250px ;
}

.home_about_icon_caption3{
    font-size: 20px;
    font-weight: 500;
}

.home_about_title_desc3{
    font-size: 1.2rem;
    line-height: 28px;
    width:90%;
    background-color: #8D9B6A66;
    padding:1rem 1rem;
    border-left: 10px solid #8D9B6A;
    margin-bottom: 3.5%;
}

.home_about_title_btn3{
    font-size: var(--desk_btn_font);
    font-weight: 600;
    font-family: var(--robotofont-font-family);
    padding:var(--desk_btn_padd);
    line-height: 2rem;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #3A2E27;
}


@media (min-width:992px) and (max-width:1199.98px) {
 
   .home_about_us_head3{
    width: 480px;
   }
   
    .home_about_large_card3{
         height: 620px; 
       width: 400px;
        right: 20px;
        overflow: hidden;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 3%;
    }

    .home_about_small__card3{
        left: 3%;
    }

    .home_about_body_title3{
        width: 28%;
    }

    .home_about_title_caption3{
        font-size: var(--desk_desc);
    }
    .home_about_title_caption3{
        width: 95%;

    }
    .home_about_icon_con3{
        column-gap: 10px;
    }

    .home_about_title_desc3{
        width: 500px;
        line-height: 28px;
    }
}


@media (min-width:768px) and (max-width:991.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 600px;
            height: 680px;
            margin: auto;
             margin-top: 25%;
            position: relative;
        }

    .home_about_large_card3{
        right: 80px;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 7%;
        position: absolute;
    }

    .home_about_small__card3{
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home_about_body_title3{
        position: absolute;
        top: 0;
        left: 38%;
 
    }

    .home_about_title_head3{
        font-size:var(--tablet_title);
        text-align: center;
        position: absolute;
        top: 5%;
    }

    .home_about_title_caption3{
        font-size: var(--tablet_desc);
        width: 88%;
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 550px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_desc3{
        width: 700px;
        margin: auto;
        line-height: 30px;
        margin-bottom: 5%;
    }
    .home_about_title_btn3{
        /* font-size: 16px;
        width: 330px; */
        padding: var(--tablet_btn_padd);
    }
}

@media (min-width:576px) and (max-width:767.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 600px;
            height: 680px;
            margin: auto;
             margin-top: 25%;
            /* position: relative; */

        }

    .home_about_large_card3{
        right: 80px;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 7%;
        position: absolute;
    }

    .home_about_small__card3{
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
     display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home_about_body_title3{
        position: absolute;
        top: 0;
        left: 38%;
 
    }

    .home_about_title_head3{
        font-size:var(--tablet_title);
        text-align: center;
        position: absolute;
         top: 5%;
    }

    .home_about_title_caption3{
        font-size: 24px;
        width: 88%;
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 550px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_desc3{
        width: 530px;
        margin: auto;
        margin-bottom: 5%;
        line-height: 32px;
    }
    .home_about_title_btn3{
        font-size: 16px;
        width: 330px;
    }
}

@media  (max-width:575.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 342px;
            height: 446px;
            margin: auto;
            margin-top: 30%;
            position: relative;
        }
.home_about_us_head3{
    margin-top: 10px;
    height: 450px;
    background-color: aqua;
        position: relative;
}
    .home_about_large_card3{
        height:400px ;
        width: 300px;
        overflow: hidden;
        right: 250px;

    }

    .home_about_dot_card3{
         height: 100px;
        width: 110px;
        left: 3%;
        top: 3%;
        position: absolute;
        overflow: hidden;
    }

    .home_about_small__card3{
        height: 160px;
        width: 200px;
        overflow: hidden;
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
   display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home_about_body_title3{
        font-size: 12px;
        /* width: 50%; */
        position: absolute;
        top: 10px;
        
 
    }

    .home_about_title_head3{
        width: 90%;
        font-size: var(--mobile_title);
        text-align: center;
        position: absolute;
        top: 6%;
        line-height: 30px;
    }

    .home_about_title_caption3{
        font-size: 16px;
        width: 88%;
        margin: auto;
        line-height: 30px;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 350px;
        column-gap: 10px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_icon_img3{
        height: 30px;
        width: 30px;
    }
    .home_about_icon__card3{
        min-width: 170px;
    }
    .home_about_icon_caption3{
        font-size: 12px;
    }
    .home_about_title_desc3{
        font-size: 12px;
        width: 320px;
        margin: auto;
        text-align: justify;
        margin-bottom: 5%;
    }
    .home_about_title_btn3{
        font-size: var(--mobile_btn_font);
        padding: var(--mobile_btn_padd);
        /* width: 250px; */
    }
}