@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --robotofont-font-family:"Roboto Serif", serif;
    --lorafont-font-family:"Lora" ,serif;
    --textcolor-color:#ffffff;
}


.home_about__con3{
    display: flex;
    margin-top: 10%;
    position: relative;
    margin-bottom: 3%;
}

.home_about__head3{
    flex: 0.95;
    height: 786px;
    overflow: hidden;

}
.home_about_us_head3{
     width: 600px;
     height: 100%;
     margin: auto;
    position: relative;
}
.home_about_dot_card3{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 1.5%;
    left: 13.9%;
}

.home_about_dot_img3{
    height: 100%;
    width: 100%;
}
.home_about_small__card3{
    height: 190px;
    width: 230px;
    z-index: 3;
    position: absolute;
    top: 52.5%;
    left: 10.5%;
    overflow: hidden;

}
.home_about_small_img3{
    height: 100%;
    width: 100%;
}
.home_about_large_card3{
    height:600px ;
    width: 430px;
    z-index: 2;
    position: absolute;
    right: 65px;
    top: 40px;
    overflow: hidden;
}
.home_about_large_img3{
    height: 100%;
    width: 100%;
}
.home_about__body3{
    flex: 1;
}

.home_about_body_title3{
    font-size: 24px;
    width: 25%;
    border-radius: 15px;
    padding: 0.2rem 1rem;
    margin-bottom: 1.2%;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #8D9B6A;
}

.home_about_title_head3{
    font-size: 40px;
    font-weight: 600;    
    line-height: 49px;
    margin-bottom: 3%;
    font-family: var(--robotofont-font-family);
}

.home_about_title_caption3{
    font-size: 28px;
    font-family: var(--lorafont-font-family);
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 1%;
}

.home_about_icon_con3{
    display:grid;
    gap: 10px;
    column-gap: 50px;
    text-align: justify;
    grid-template-columns: repeat(2,0fr);
    margin-bottom: 2.5%;
}

.home_about_icon__card3{
    display: flex;
    column-gap:10px ;
    align-items: center;
    min-width:250px ;
}

.home_about_icon_caption3{
    font-size: 20px;
    font-weight: 500;
}

.home_about_title_desc3{
    font-size: 1.2rem;
    width: 575px;
    background-color: #8D9B6A66;
    padding:1rem 1rem;
    border-left: 10px solid #8D9B6A;
    margin-bottom: 3.5%;
}

.home_about_title_btn3{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--robotofont-font-family);
    padding: 0.5rem 3rem;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #3A2E27;
}


@media (min-width:992px) and (max-width:1199.98px) {
 
   .home_about_us_head3{
    width: 480px;
   }
   
    .home_about_large_card3{
         height: 620px; 
       width: 400px;
        right: 20px;
        overflow: hidden;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 3%;
    }

    .home_about_small__card3{
        left: 3%;
    }

    .home_about_body_title3{
        width: 27%;
    }

    .home_about_title_caption3{
        font-size: 26px;
    }
    .home_about_title_caption3{
        width: 95%;
    }
    .home_about_icon_con3{
        column-gap: 10px;
    }

    .home_about_title_desc3{
        width: 500px;
    }
}


@media (min-width:768px) and (max-width:991.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 600px;
            height: 680px;
            margin: auto;
             margin-top: 25%;
            position: relative;
        }

    .home_about_large_card3{
        right: 80px;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 7%;
        position: absolute;
    }

    .home_about_small__card3{
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
    }
    .home_about_body_title3{
        position: absolute;
        top: 0;
        left: 38%;
 
    }

    .home_about_title_head3{
        font-size: 32px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 3%;
    }

    .home_about_title_caption3{
        font-size: 24px;
        width: 88%;
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 550px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_desc3{
        width: 700px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_btn3{
        font-size: 16px;
        width: 330px;
    }
}

@media (min-width:576px) and (max-width:767.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 600px;
            height: 680px;
            margin: auto;
             margin-top: 25%;
            position: relative;
        }

    .home_about_large_card3{
        right: 80px;
    }

    .home_about_dot_card3{
        height: 150px;
        width: 150px;
        left: 7%;
        position: absolute;
    }

    .home_about_small__card3{
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
    }
    .home_about_body_title3{
        position: absolute;
        top: 0;
        left: 38%;
 
    }

    .home_about_title_head3{
        font-size: 32px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 3%;
    }

    .home_about_title_caption3{
        font-size: 24px;
        width: 88%;
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 550px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_desc3{
        width: 530px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_title_btn3{
        font-size: 16px;
        width: 330px;
    }
}

@media  (max-width:575.98px){
        .home_about__con3{
          display: grid;
          grid-template-columns: 1fr;

        }
        .home_about__head3{
            width: 342px;
            height: 446px;
            margin: auto;
             margin-top: 35%;
            position: relative;
        }

    .home_about_large_card3{
        height:400px ;
        width: 300px;
        overflow: hidden;
        right: 250px;
    }

    .home_about_dot_card3{
         height: 100px;
        width: 110px;
        left: 3%;
        top: 3%;
        position: absolute;
        overflow: hidden;
    }

    .home_about_small__card3{
        height: 160px;
        width: 200px;
        overflow: hidden;
        left: 3%;
       top: 57%;
    }

    .home_about__body3{
        text-align: center;
    }
    .home_about_body_title3{
        font-size: 12px;
        width: 30%;
        position: absolute;
        top: 10px;
        left: 38%;
        
 
    }

    .home_about_title_head3{
        width: 80%;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 3%;
        left: 8%;
        line-height: 30px;
    }

    .home_about_title_caption3{
        font-size: 16px;
        width: 88%;
        margin: auto;
        line-height: 30px;
        text-align: center;
        margin-bottom: 3%;
    }
    .home_about_icon_con3{
        width: 350px;
        column-gap: 10px;
        margin: auto;
        margin-bottom: 5%;
    }
    .home_about_icon_img3{
        height: 30px;
        width: 30px;
    }
    .home_about_icon__card3{
        min-width: 170px;
    }
    .home_about_icon_caption3{
        font-size: 12px;
    }
    .home_about_title_desc3{
        font-size: 12px;
        width: 320px;
        margin: auto;
        text-align: justify;
        margin-bottom: 5%;
    }
    .home_about_title_btn3{
        font-size: 12px;
        width: 250px;
    }
}