
:root{
    --roboto:"Roboto Serif",serif;
    --lora:"Lora",serif;
    --meri:"Merriweather",serif;
}

.consultation_wrapper2{
    margin: 4rem 0;
    background-color: black;
    height: 395px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#consult_video2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.1);
}

.consultation_content2{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.consult_titletext2{
    text-align: center;
    margin: auto;
    width: 60%;
    color: white;
    font-family: var(--meri);
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}

.consult_destext2{
    margin:1rem 0 ;
    font-family: var(--meri);
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.consult_btn2{
    margin: 1rem 0;
    font-family: var(--roboto);
    font-size: 32px;
    font-weight: 600;
    height: 60px;
    width: 440px;
    border: none;
    background-color: #8D9B6A;
    color: white;
    border-radius: 10px;
}

@media (min-width: 992px) and (max-width: 1200px){
    .consult_titletext2{
        width: 60%;
        font-size: 30px;
    }

    .consult_destext2{
        font-size: 17px;
    }

    #consult_video2{
        transform: scale(1.5);
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .consultation_wrapper2{
        height: 356px;
    }

    .consult_titletext2{
        font-size: 23px;
        line-height: 32.5px;
    }

    #consult_video2{
        transform: scale(1.6);
    }

    .consult_destext2{
        font-size: 14px;
    }

    .consult_btn2{
        width: 296px;
        font-size: 18.5px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .consultation_wrapper2{
        height: 356px;
    }

    .consult_titletext2{
        width: 70%;
        font-size: 23px;
        line-height: 32.5px;
    }

    .consult_destext2{
        font-size: 14px;
    }

    #consult_video2{
        transform: scale(2);
    }

    .consult_btn2{
        width: 296px;
        font-size: 18.5px;
    }   
}

 @media (max-width: 575px) {
    .consultation_wrapper2{
        gap: 2rem;
        text-align: center;
        height: 667px;
    }

    .consult_titletext2{
        font-size: 20px;
        line-height: 40px;
    }

    .consult_destext2{
        margin: auto;
        width: 60%;
        font-size: 16px;
        line-height: 32px;
    }

    #consult_video2{
        transform: scale(2);
    }

    .consult_btn2{
        width: 100%;
        padding: 0 50px;
        font-size: 20px;
    }
 }

 @media (max-width: 375px){
    .consult_titletext2{
        width: 80%;
    }

    .consult_destext2{
        width: 85%;
    }

    .consult_btn2{
        padding: 0 25px;
    }
 }



