.portfolio-hero-slider-container {
  position: relative;
  height: 900px;
  overflow: hidden;
  background: #111;
}

.portfolio-hero-slide-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: transform 1200ms ease;
}

.zoom-in {
  transform: scale(1);
}

.zoom-out {
  transform: scale(1.06);
}

.portfolio-hero-title {
  position: absolute;
  left: 6%;
  top: 65%;
  color: #fff;
  z-index: 2;
}

.portfolio-hero-title-text {
  font-size: 90px;
  font-weight: 800;
  font-family: Roboto Serif;
}

.portfolio-hero-bottom-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 24px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  min-width: 700px;
}

.portfolio-hero-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.portfolio-hero-num {
  font-size: 36px;
  color: #999;
}

.portfolio-hero-active-num {
  font-size: 36px;
  color: white;
  font-weight: 800;
}
.portfolio-hero-item_des{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-hero-item_des h4,
.portfolio-hero-item_des p {
  margin: 0;
  color: white;
  font-family: Roboto Serif;
}

.portfolio-hero-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
}

.portfolio-hero-line-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ffd54f, #ffb86b);
}

/* SIX DIFFERENT SCREEN SIZES FOR RESPONSIVENESS */

/* X-Small (xs) - Mobile portrait and smaller devices */
@media (max-width: 374.98px){
  .portfolio-hero-num {
    font-size: 36px;
    color: #999;
    width: 44%;
}
.portfolio-hero-item_des {
        width: 47%;
    }
    .portfolio-hero-active-num {
      width: 47%; 
    }
    .portfolio-hero-title-text {
    font-size: 30px;
    }
        .portfolio-hero-bottom-box {
        width: 317px;
        min-width: 200px;
    }
    .portfolio-hero-bottom-box {
    position: absolute;
    bottom: 1px;
    right: 1px;
    }
        .portfolio-hero-slider-container {
        position: relative;
        height: 390.501938px;
    }
    .portfolio-hero-item_des h4, .portfolio-hero-item_des p {
    margin: 0;
    font-size: 8px;
    }
    .portfolio-hero-bottom-box {
      padding: 15px 5px;
      gap: 0px;
    }
    .portfolio-hero-item {
      gap: 0px;
    }
    .portfolio-hero-item_des {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    /* .portfolio-hero-active-num {
      font-size: 12px;
    } */
}
@media (min-width: 375px) and (max-width: 575.98px) {
  .portfolio-hero-num {
    font-size: 36px;
    color: #999;
    width: 44%;
}
.portfolio-hero-item_des {
        width: 47%;
    }
    .portfolio-hero-active-num {
      width: 44%; 
    }
    .portfolio-hero-title-text {
    font-size: 30px;
    }
  .portfolio-hero-slider-container {
    position: relative;
    height: 325.501938px;
  }
  .portfolio-hero-title-text {
        font-size: 24.75px;
        position: relative;
        /* transform: translate(-2px, 37px); */
        bottom: 44px;
    }
    /* .portfolio-hero-item_des{
      width: 60px;
  } */
  .portfolio-hero-bottom-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  .portfolio-hero-item_des h4, .portfolio-hero-item_des p {
    margin: 0;
    font-size: 7px;
    color: white;
  }
  .portfolio-hero-bottom-box {
    width: 321px;
        min-width: 200px;
  }
}

/* Small (sm) - Mobile landscape and larger phones */
@media (min-width: 576px) and (max-width: 767.98px) {
  .portfolio-hero-title {
  top: 65%;
  
}
  .portfolio-hero-bottom-box {
    width: 500px;
    min-width: 300px;
  }
  .portfolio-hero-item_des h4{
    font-size: 12px;
  }
  .portfolio-hero-item_des p{
    font-size: 10px;
  }
  .portfolio-hero-bottom-box {
    display: flex;
    gap: 0px;
  }
  .portfolio-hero-slider-container {
    height: 562.9500122070312px;
  }
  .portfolio-hero-title-text {
    font-size: 55.02px;
  }
}

/* Medium (md) - Tablets and medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
  .portfolio-hero-bottom-box {
    width: 550px;
    min-width: 400px;
  }
  .portfolio-hero-item_des h4{
    font-size: 12px;
  }
  .portfolio-hero-item_des p{
    font-size: 10px;
  }
}

/* Large (lg) - Desktops and laptop screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra Large (xl) - Large desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra Large (xxl) - Very large screens, TVs, or ultra-wide monitors */
@media (min-width: 1400px) {
}